body {
    background: url("./background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

button {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#startscreen {
    background: url("./startscreen.png");
    background-size: cover;
}

.boxthing {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: auto;
}

#board {
    width: 450px;
    height: 450px;
    background-color: rgb(247, 223, 174);
    border: 5px solid rgb(113, 89, 16);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}