@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

body {
    background: url("./background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Concert One, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-family: Merienda, sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: Merienda, sans-serif;
}


button {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: Concert One, sans-serif;
    font-size: 2rem;
    background-color: beige;
    border-style: dotted;
    border-radius: 2rem;

}

.gameText {
    padding: 10px;
    width: 40%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 1% auto;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: brown;
}

#startscreen {
    background: url("./startscreen.png");
    background-size: cover;
}

.boxthing {
    padding: 20px;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 10% auto;
}

#board {
    width: 450px;
    height: 450px;
    background-color: rgb(247, 223, 174);
    border: 5px solid rgb(113, 89, 16);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}